# <b>A. <span style='color:#0B2F9F'><code>PREFIX</code></span></b>
Prefix merupakan penggunaan awalan pada nama tabel untuk memberikan informasi tambahan atau untuk mengelompokkan objek-objek tertentu. Sebagai contoh perhatikan gambar berikut : <br><br>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/refs/heads/main/Image/Materi-SQL/SQL%20-%20Prefix.png" width="50%">

<br><br>
Nama tabel dimisalkan (diberi alias) sebagai tbl, lalu untuk mengakses kolom pada tabel tersebut bisa diberi prefix tbl.kolom1 dan seterusnya

#### <i><b><span style='color:#55679C'>Quest</span> : Pada tabel customer_demography, ambil kolom customer_id, gender, age dan married namun gunakan alias 'cdm' pada nama tabel dan sematkan prefixnya saat mengakses kolom!</b></i>

In [ ]:
SELECT
customer_id,
gender,
age,
married,
FROM telco_churn.customer_demography AS cda

# <b>B. <span style='color:#0B2F9F'><code>JOIN</code></span></b>

Data biasanya disimpan di berbagai tabel atau sistem yang berbeda pada RDBMS (Relational Database Management System). JOIN memungkinkan pengguna untuk menggabungkan data dari berbagai sumber untuk mendapatkan gambaran yang lebih lengkap. Memahami query JOIN memungkinkan seorang pengguna untuk mengintegrasikan dan menganalisis data secara efektif, sehingga dapat meningkatkan kualitas analisis dan mendukung pengambilan keputusan berbasis data.

Operasi JOIN standar dapat dilakukan jika terdapat kunci pada tiap tabel yang saling terhubung. Operasi join dasar yang paling umum digunakan ada 4 yakni :
<ul>
    <li><b>LEFT JOIN</b></li>
    LEFT JOIN adalah jenis operasi penggabungan baris dari dua tabel, tetapi hanya mengembalikan semua baris dari tabel kiri (tabel pertama) dan baris yang cocok dari tabel kanan (tabel kedua). Jika tidak ada kecocokan di tabel kanan, maka nilai-nilai untuk kolom dari tabel kanan akan diisi dengan NULL.<br><br>
    <img src="https://thomasadventure.blog/img/left-join-extra.gif" width="20%">
    <br><br>
    <li><b>RIGHT JOIN</b></li>
    RIGHT JOIN adalah jenis operasi penggabungan baris dari dua tabel, tetapi hanya mengembalikan semua baris dari tabel kanan (tabel kedua) dan baris yang cocok dari tabel kiri (tabel pertama). Jika tidak ada kecocokan di tabel kiri, maka nilai-nilai untuk kolom dari tabel kiri akan diisi dengan NULL.<br><br>
    <img src="https://thomasadventure.blog/img/right-join.gif" width="20%">
    <br><br>
    <li><b>INNER JOIN</b></li>
    INNER JOIN adalah jenis operasi penggabungan yang hanya mengembalikan baris yang memiliki kecocokan di kedua tabel berdasarkan kriteria tertentu.<br><br>
    <img src="https://thomasadventure.blog/img/inner-join.gif" width="20%">
    <br><br>
     <li><b>FULL JOIN</b></li>
    FULL JOIN adalah jenis operasi penggabungan semua baris dari kedua tabel, baik yang memiliki kecocokan maupun yang tidak. Dengan demikian, hasilnya akan mencakup semua data dari tabel kiri dan tabel kanan.<br><br>
    <img src="https://thomasadventure.blog/img/full-join.gif" width="20%">
    <br><br>
</ul>

#### <i><b><span style='color:#55679C'>Pre-Quest</span>
Untuk melakukan join biasanya akan lebih mudah jika arsitektur relasi antar tabel atau biasa dikenal ERD (Entity Relational Diagram) telah dibuat atau diketahui. Pada data telco churn ERD-nya disajikan pada gambar berikut<br><br>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/refs/heads/main/Image/Materi-SQL/ERD%20-%20Telco%20Churn.png" width="40%">

#### <i><b><span style='color:#55679C'>Quest : </span>Hitung berapa rata-rata biaya bulanan tiap status customer! Tampilkan status, total_customer, avg_monthly_charge! Interpretasikan insight dari hasil perhitungan!

In [ ]:
SELECT
 sts.status,
 COUNT (sts.customer_id) AS total_customer,
 ROUND (AVG (srv.monthly_charge), 2) AS avg_monthly_charge
FROM telco_churn.customer_status AS sts
INNER JOIN telco_churn.telco_services AS srv ON sts.customer_id = srv.customer_id
GROUP BY sts.status

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
Churned (Pelanggan Berhenti)

Total pelanggan: 1.869
Rata-rata biaya bulanan: $74.44
Pelanggan yang berhenti memiliki rata-rata pengeluaran bulanan tertinggi dibandingkan kelompok lain. Hal ini dapat menunjukkan bahwa biaya yang tinggi mungkin menjadi salah satu alasan pelanggan memutuskan untuk berhenti.
Joined (Pelanggan Baru)

Total pelanggan: 454
Rata-rata biaya bulanan: $43.47
Pelanggan baru memiliki rata-rata pengeluaran bulanan yang paling rendah. Hal ini mungkin karena mereka cenderung memilih paket yang lebih murah atau sedang mencoba layanan sebelum melakukan upgrade ke paket yang lebih mahal.
Stayed (Pelanggan Bertahan)

Total pelanggan: 4.720
Rata-rata biaya bulanan: $62.98
Pelanggan yang bertahan memiliki rata-rata pengeluaran bulanan yang berada di tengah-tengah. Ini menunjukkan bahwa sebagian besar pelanggan masih merasa nyaman dengan biaya bulanan yang dikenakan, meskipun lebih tinggi daripada pelanggan baru.

#### <i><b><span style='color:#55679C'>Quest : </span>Coba Sudut Pandang Lebih Luas; Hitung berapa banyak customer, rata-rata biaya bulanan & rata-rata umur tiap status customer, gender dan status pernikahannya! Tampilkan status, gender, married, total_customer, avg_monthly_charge! Urutkan hasilnya per metrik perhitungan dan Interpretasikan insight dari hasil perhitungan!

In [ ]:
SELECT
 sts.status,
 cdm.gender,
 cdm.married,
 count (sts.customer_id) as total_customer,
 avg(cdm.age) as average_age,
 avg(srv.monthly_charge) as avg_monthly_charge
from telco_churn.customer_status as sts
inner join telco_churn.telco_services as srv on sts.customer_id = srv.customer_id
inner join telco_churn.customer_demography as cdm on sts.customer_id = cdm.customer_id
GROUP BY sts.status, cdm.gender, cdm.married
ORDER BY total_customer DESC, avg_monthly_charge DESC

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
**Pelanggan Churned (Berhenti)**

Male Married (Yes):
Total pelanggan(350)
Rata-rata biaya bulanan($81.45) {tertinggi di kategori churned}.
Pria yang menikah dengan rata-rata biaya tinggi cenderung lebih rentan berhenti. Mungkin karena mereka menggunakan layanan premium atau paket mahal yang dianggap tidak sebanding dengan nilai yang diterima.

Female Married (Yes):Total pelanggan(319)
Rata-rata biaya bulanan($78.00).
Wanita menikah dengan biaya cukup tinggi juga cenderung berhenti, tetapi angkanya lebih kecil dibanding pria menikah.

Male Not Married (No):Total pelanggan(580) {terbanyak}.
Rata-rata biaya bulanan ($69.61) {terendah di kategori churned}.
Pria tidak menikah dengan biaya lebih rendah memiliki tingkat churn lebih tinggi, mungkin mereka lebih sensitif terhadap harga.

Female Not Married (No):Total pelanggan (620) {terbanyak di churned female}.Rata-rata biaya bulanan($73.17).
Wanita tidak menikah cenderung berhenti dengan rata-rata biaya lebih moderat, namun jumlah mereka cukup signifikan.

**Pelanggan Joined (Baru)**

Female Married (Yes):Total pelanggan(46)
Rata-rata biaya bulanan($43.47) {terendah di kategori joined}.
Wanita menikah tampaknya lebih berhati-hati memilih paket dengan biaya rendah ketika menjadi pelanggan baru.

Male Married (Yes):Total pelanggan(38)
Rata-rata biaya bulanan($48.11) {tertinggi di kategori joined}.
Pria menikah cenderung memilih paket yang sedikit lebih mahal dibandingkan wanita.

Female Not Married (No):Total pelanggan(165) {terbanyak di kategori joined}.Rata-rata biaya bulanan($43.47).
Wanita tidak menikah mendominasi kategori pelanggan baru dengan rata-rata pengeluaran rendah.

Male Not Married (No):Total pelanggan(205) {terbanyak di kategori joined}.
Rata-rata biaya bulanan($42.35) {terendah di kategori joined male}.
Pria tidak menikah cenderung memilih paket dengan pengeluaran yang rendah.

**Pelanggan Stayed (Bertahan)**

Female Married (Yes):Total pelanggan(1,323) {terbanyak di kategori stayed}.Rata-rata biaya bulanan($64.67) {lebih tinggi dari male married stayed}.Wanita menikah menunjukkan loyalitas lebih tinggi meskipun biaya mereka sedikit lebih tinggi.

**Kesimpulannya:**


*   Churn Tinggi pada Pelanggan Biaya Tinggi:
Pria menikah dan wanita menikah dengan biaya tinggi cenderung berhenti lebih sering, menunjukkan potensi sensitivitas terhadap nilai layanan dibandingkan dengan biaya.
Peluang Upselling pada Pelanggan Baru:

*   Peluang Upselling pada Pelanggan Baru:
Pelanggan baru cenderung memilih paket dengan biaya lebih rendah, sehingga strategi upselling dengan menambahkan manfaat yang jelas (bundling, diskon jangka panjang) dapat meningkatkan rata-rata pendapatan.
Retensi Pelanggan Stayed:

*   Retensi Pelanggan Stayed:
Wanita menikah memiliki tingkat retensi yang tinggi, sehingga mereka dapat menjadi fokus untuk mempertahankan loyalitas melalui insentif seperti penghargaan pelanggan setia.

#### <i><b><span style='color:#55679C'>Quest : </span>Bagaimana dengan total tenure ? Hitung berapa rata-rata tenure_in_month tiap status customer! Tampilkan status, total_customer, avg_tenure_in_month! Interpretasikan insight dari hasil perhitungan!

In [ ]:
SELECT
 sts.status,
 COUNT(sts.customer_id) AS total_customer,
 ROUND(AVG(srv.tenure_in_months),2) AS avg_tenure_in_months
FROM telco_churn.customer_status AS sts
INNER JOIN telco_churn.telco_services AS srv ON sts.customer_id = srv.customer_id
GROUP BY sts.status

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
Churned (Berhenti)

*   Churned (Berhenti)

Total Pelanggan: 1.869
Rata-rata Tenure: 17,98 bulan
Pelanggan churned memiliki waktu penggunaan rata-rata sekitar 1,5 tahun. Hal ini menunjukkan bahwa sebagian besar pelanggan churned sudah menggunakan layanan cukup lama sebelum akhirnya memutuskan berhenti, kemungkinan karena adanya ketidakpuasan atau kebutuhan yang tidak terpenuhi setelah beberapa waktu.
Joined (Baru)

*   Joined (Baru)

Total Pelanggan: 454
Rata-rata Tenure: 1,72 bulan
Pelanggan baru memiliki waktu penggunaan rata-rata yang sangat singkat, kurang dari 2 bulan. Ini menunjukkan bahwa kelompok ini sebagian besar terdiri dari pelanggan yang baru saja mulai menggunakan layanan, sehingga loyalitas mereka belum terbentuk sepenuhnya.
Stayed (Bertahan)

*   Stayed (Bertahan)

Total Pelanggan: 4.720
Rata-rata Tenure: 41,04 bulan
Pelanggan stayed memiliki waktu penggunaan rata-rata yang panjang, sekitar 3,5 tahun. Ini mengindikasikan bahwa kelompok ini sangat loyal terhadap layanan yang ditawarkan, kemungkinan karena layanan yang sesuai dengan kebutuhan mereka.


**Churned Pelanggan dengan Tenure Lama:** Pelanggan churned cenderung bertahan cukup lama sebelum memutuskan berhenti, sehingga strategi retensi perlu difokuskan untuk mengurangi churn pada tahap akhir siklus pelanggan (misalnya, dengan menawarkan diskon atau fitur tambahan).

**Pelanggan Baru (Joined) Rentan Churn:** Karena rata-rata tenure pelanggan baru sangat singkat, upaya onboarding yang efektif (seperti tutorial layanan, promosi awal, atau bonus) dapat membantu meningkatkan engagement mereka dan mengurangi churn di tahap awal.

**Pelanggan Stayed Sangat Loyal:** Pelanggan stayed memiliki tenure yang jauh lebih tinggi, menunjukkan loyalitas kuat. Upaya mempertahankan kelompok ini, seperti program penghargaan loyalitas, dapat semakin memperkuat hubungan pelanggan.

Saran Strategi:

Fokus pada retensi pelanggan churned dengan masa penggunaan > 1 tahun melalui survei kepuasan atau penawaran khusus.
Tingkatkan engagement pada pelanggan baru untuk memastikan mereka mencapai tahap "loyal".

#### <i><b><span style='color:#55679C'>Quest : </span>Perusahaan telekomunikasi ingin melakukan perluasan market ke beberapa daerah yang mana di daerah tersebut belum ada pelanggan terdaftar dalam database. Buatkan daftar kode pos pada tabel population yang sama sekali belum ada orang yang menggunakan layanan telekomunikasi! Tampilkan kode pos dan jumlah populasinya!

In [ ]:
SELECT
 pop.zip_code,
 pop.population,
 COUNT(loc.customer_id) AS total_customer
FROM telco_churn.customer_location loc
RIGHT JOIN telco_churn.population pop ON loc.zip_code = pop.zip_code
GROUP BY pop.zip_code,pop.population
HAVING COUNT(loc.customer_id) = 0

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>

**Kolom-Kolom dalam Output:**
*   zip_code: Kode pos yang berasal dari tabel population.
*   population: Total populasi yang tinggal di kode pos tersebut.
*   total_customer: Jumlah pelanggan dari tabel customer_location di kode pos tersebut. Dalam kasus ini, semua nilai adalah 0.

**Makna Hasil:**

*   Semua kode pos yang ditampilkan (contoh: 91402, 95023, 90020, dll.) memiliki 0 pelanggan di tabel customer_location.
*   Namun, setiap kode pos memiliki jumlah populasi tertentu di tabel population.

**RIGHT JOIN** memastikan semua data dari tabel population ditampilkan, meskipun tidak memiliki kecocokan di tabel customer_location.
Kondisi HAVING COUNT(loc.customer_id) = 0 memfilter hanya kode pos yang tidak memiliki pelanggan sama sekali.